@import "styles/variables.css";

.contentContainer {
    margin: 100px 0 0 0;
}

.change-state-visible {
    margin: 130px 0 0 0;
}

/* Header Styles */

.header_inner_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1280px;
    width: 95%;
    margin: auto;
}

.header_item {
    font-family: var(--garamond);
    text-decoration: none;
    color: black;
}

.header_ngcp_logo {

}