:root {
    --brown: #8C7558;

    --maroonPrimary: #8A0D2A;
    --orangeSecondary: #E18942;
    --highlighted: #EECD86;
     /* --darkerOrange: #8A0D2A; */

    /* typefaces */
    --openSans: 'Open Sans';
    --garamond: 'Garamond';

}
