@import "styles/variables.css";

.cover_image {
    background-image: url("http://via.placeholder.com/1440x760");
    height: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover_text {
    color: black;

}

.section_one_container {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    width: 95%;
    max-width: 1280px;
}

.slideshow_image_container {
    display: flex;
    width: 50%;
}

.slideshow_image {
    margin: auto;
}

.slideshow_description_container {
    width: 50%;
}

.slideshow_description {
    font-family:  var(--garamond);
}

.learn_more_button {
    font-family: var(--garamond);
    background: var(--maroonPrimary);
    color: white; 
    padding: 8px 10px;
    border: none;
}

@media only screen and (min-width : 768px) {


}