@import "styles/variables.css";

.board_members_body {
    text-align: center;
    font-family: var(--garamond);
    margin: 20px auto 10px;
    max-width: 1280px;
}

.red_body {
    color: var(--maroonPrimary);
}

.board_members_bubble_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 40px auto 0;
}

.our_musicians_container {
    display: flex;
    max-width: 1280px;
    margin: 30px auto 0;
    justify-content: space-around;
}

.our_musicians_section {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    align-items: center;
}

.our_musicians_section_header {
    width: 150px;
}

@media only screen and (min-width : 768px) {


}