@import "styles/variables.css";

.header_divider_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 10px;
}

.header_divider_text {
    font-family: var(--garamond);
    color: var(--maroonPrimary);
    font-size: 40px;
}

.header_divider_image {
    width: 300px;
}

@media only screen and (min-width : 768px) {


}