@import "styles/variables.css";

.board_member_bubble_container {
    position: relative;
    display: flex;
    flex-basis: 33.3%;
}

.board_member_bubble_name {
    color: var(--maroonPrimary);
    margin: 0 0 10px;
}

.board_member_bubble_title {
    margin: 0 0 10px;
}

.board_member_bubble_image {
    width: 300px;
}

.board_member_bubble_text_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bubble_visible {
    display: block;
}

.bubble_hidden {
    display: none;
}

@media only screen and (min-width : 768px) {


}